.kotak {
  position: relative;
  background-color: orange;
  top: 60px;
  /* top: 120px */
}

.belajar2 {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  background-color: red;

}

div {
   position: relative;
   width: 100px;
   height: 100px;
   background-color: blue;
}

.fix {
  background-color: green;
  position: fixed;
  top: 40px;
  left: 80px;
}
.stic {
  background-color: pink;
  position: sticky;
  top: 40px;
  left: 80px;
}
